body{
    background-color: #fffbf7;
    margin: 0px;
    padding: 0px;
}

.fixed-header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #fffbf7;
}

.header{
    margin: 40px 20px 50px 20px;
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: center;
    height: 100%;
    line-height: 45px;
}

.logo{
    width: 15%;
}

.navbar{
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

.menu-item{
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
    color: #025157;
}

.action{
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600%;
}

.action > *{
    margin: 0px 10px;
}

.action a{
    color: #67b54b;
}

.action button{
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px;
    border: none;
    border-radius: 5px;
}

.promo{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
    justify-content: center;
}

.explanatory-video{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.explanatory-video img{
    width: 120px;
    margin-top: 10px;
}

.publish {
    /* container styles if any */
    flex: 1;
}
    
.publish h3 {
    font-family: Verdana;
    font-size: 40px;
    line-height: 48px;
    color: #025157 ;
}
    
.publish > p {
    font-size: 16px;
    color: #343434 ;
    line-height: 1.5;
    margin-bottom: 20px;
}
    
.publish > form {
    display: flex;
    flex-direction: column;
}
    
.publish > form p {
    color: #343434;
    margin-right: 18px;
}



.colorDos {
    color: #46484c;
}

.colorBoton {
    color: #fff;
    background-color: #67b54b;
}

h1 {
    color: #025157;
    font-weight: bold;
    text-align: center;
}

p {
    text-align: center;
}

form {
    text-align: center;
}

.texto_centrado {
    text-align: left;
}







